html(lang='en')
    head
        title #{title} - #{data.siteName}

        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        meta(name="theme-color" content="#da532c")

        link(rel='stylesheet' href='/css/kristine.css')

        link(rel='icon', type='image/x-icon', href='/img/favicon/favicon.ico')
        link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon.png")
        link(rel='apple-touch-icon', sizes='152x152', href='/img/favicon/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
        link(rel='manifest', href='/img/favicon/site.webmanifest')
        meta(name='msapplication-TileColor', content='#da532c')

    body.has-background-grey-lighter
        section.section
            .container
                .columns
                    .column.is-1

                    .column.is-10
                        .box
                            form(action="" method="post" autocomplete='off')
                                .field.is-horizontal
                                    .field-body
                                        .field
                                            label.label #{data.lang.getLang('install.sitename')}
                                            .control.has-icons-left
                                                input.input(type="text" placeholder="Kristine" value=data.config.siteName name="sitename" id="sitename" required=)
                                                span.icon.is-small.is-left
                                                    i.fas.fa-file
                                        .field
                                            label.label #{data.lang.getLang('install.lang')}
                                            .control.has-icons-left
                                                .select
                                                    select(id="lang" name="lang")
                                                        option(selected value='en_GB') #{data.lang.parseLang('en_GB')}
                                                        option(value='es_ES') #{data.lang.parseLang('es_ES')}
                                                span.icon.is-small.is-left
                                                    i.fas.fa-language
                                hr
                                .field
                                    label.label #{data.lang.getLang('install.database')}
                                    p.help Fill this with your MySQL information
                                .field.is-horizontal
                                    .field-body
                                        .field
                                            label.label #{data.lang.getLang('install.mysql.host')}
                                            .control.has-icons-left
                                                input.input(type="text" placeholder="localhost" value=data.config.mysql.host name="host" id="host" required=)
                                                span.icon.is-small.is-left
                                                    i.fas.fa-wifi
                                        .field
                                            label.label #{data.lang.getLang('install.mysql.database')}
                                            .control.has-icons-left
                                                input.input(type="text" placeholder="kristine" value=data.config.mysql.db  name="db" id="db" required=)
                                                span.icon.is-small.is-left
                                                    i.fas.fa-database
                                        .field
                                            label.label #{data.lang.getLang('install.mysql.port')}
                                            .control.has-icons-left
                                                input.input(type="number" placeholder="3306" value=data.config.mysql.port  name="port" id="port" required=)
                                                span.icon.is-small.is-left
                                                    i.fas.fa-anchor
                                .field.is-horizontal
                                    .field-body
                                        .field
                                            label.label #{data.lang.getLang('install.mysql.user')}
                                            .control.has-icons-left
                                                input.input(type="text" placeholder="root" value=data.config.mysql.user name="user" id="user" required=)
                                                span.icon.is-small.is-left
                                                    i.fas.fa-user
                                        .field
                                            label.label #{data.lang.getLang('install.mysql.password')}
                                            .control.has-icons-left
                                                input.input(type="text" placeholder="**********" value=data.config.mysql.password  name="password" id="password")
                                                span.icon.is-small.is-left
                                                    i.fas.fa-key
                                hr
                                .field
                                    label.label #{data.lang.getLang('install.ssl.secure')}
                                    p.help Fill the inputs with the path to the files (./path/to/the/files.ext)
                                    p.help If you fill this, it will enable SSL on your site.
                                    p.help
                                        strong Warning
                                        |  This action is irreversible, if you fill in the fields wrongly you will have to reinstall the forum again
                                .field.is-horizontal
                                    .field-body
                                        .field
                                            label.label #{data.lang.getLang('install.ssl.key')}
                                            .control.has-icons-left
                                                input.input(type="text" placeholder="localhost" name="key" id="key" )
                                                span.icon.is-small.is-left
                                                    i.fas.fa-file
                                        .field
                                            label.label #{data.lang.getLang('install.ssl.cert')}
                                            .control.has-icons-left
                                                input.input(type="text" placeholder="kristine" name="cert" id="cert" )
                                                span.icon.is-small.is-left
                                                    i.fas.fa-file
                                        .field
                                            label.label #{data.lang.getLang('install.ssl.ca')}
                                            .control.has-icons-left
                                                input.input(type="text" placeholder="3306" name="ca" id="ca" )
                                                span.icon.is-small.is-left
                                                    i.fas.fa-file
                                hr
                                .field
                                    label.label #{data.lang.getLang('install.debug.debug')}
                                    p.help What do you want to show in console and store into a file
                                .field
                                    input.is-checkradio.has-background-color.is-primary(type='checkbox' id="data" name='data' checked='checked')
                                    label(for='data') #{data.lang.getLang('install.debug.data')}
                                .field
                                    input.is-checkradio.has-background-color.is-primary(type='checkbox' id="database" name='database' checked='checked')
                                    label(for='database') #{data.lang.getLang('install.debug.database')}
                                hr
                                .field
                                    .control
                                        button.button.is-success #{data.lang.getLang('install.save')}

        include ../static/footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js")
        script.
            document.addEventListener('DOMContentLoaded', () => {
                const $dropdown2 = Array.prototype.slice.call(document.querySelectorAll('.has-dropdown'), 0);
                if ($dropdown2.length > 0) {
                    $dropdown2.forEach(el => {
                        el.addEventListener('click', () => {
                            const target = el.dataset.target;
                            const $target = document.getElementById(target);

                            el.classList.toggle('is-active');
                            $target.classList.toggle('is-active');
                        });
                    });
                }
            });