extends layout

block content
    section.section
        .container.is-fluid
            .columns.has-text-left
                .column.is-1

                .column.is-9
                    if content.length > 0
                        for cat in content
                            nav.level.has-background-danger.is-rounded-top(id='cat.' + cat.id)
                                .level-left
                                    .level-item.is-colored
                                        span.icon.is-medium.has-text-warning.ml-2
                                            i.far.fa-lg.fa-folder-open
                                        a.has-text-weight-bold.is-size-5.has-text-white.my-3.mx-3(href='#cat.' + cat.id) #{cat.title}
                            hr.is-dark.is-marginless.with-level
                            if cat.forums.length > 0
                                for forum in cat.forums
                                    nav.level.has-background-white
                                        .level-left
                                            .level-item.my-2
                                                if forum.read
                                                    span.icon.is-large.has-text-grey.mx-2
                                                        i.far.fa-2x.fa-comments
                                                else
                                                    span.icon.is-large.has-text-primary.mx-2
                                                        i.fas.fa-2x.fa-comments

                                                span
                                                    a.mt-1.is-size-5(href='/forum/' + forum.id)  #{forum.title}
                                        .level-right.mr-6.my-2
                                            .level-item
                                                span.has-text-centered
                                                    p Threads
                                                    p.has-text-black #{forum.posts.length}
                                            .level-item.ml-4
                                                span.has-text-centered
                                                    p Messages
                                                    p.has-text-black #{forum.posts.length}
                                            .level-item.ml-4
                                                - var lastPost = forum.posts[forum.posts.length-1]
                                                figure.image.is-rounded.is-32x32.mr-2
                                                    img(src='/img/' + lastPost.author.icon)
                                                span
                                                    a(href='/post/' + lastPost.id) #{lastPost.title}
                                                    p
                                                        | #{data.utils.parseTime(lastPost.date)} by
                                                        |
                                                        a(href='/profile/' + lastPost.author.id) #{lastPost.author.name}

                .column.is-hidden-mobile
                    if session.name
                        .box
                            figure.image.is-64x64.is-centered
                                img.is-rounded(src="/img/" + session.icon)
                            a.is-size-5(href='/profile/' + session.user) #{session.name}
                            p #{data.utils.getRankName(session.rank)}