extends layout

block content
    section.section
        .container.is-fluid
            .columns.has-text-left
                .column.is-1

                .column.is-9
                    .box
                        nav.breadcrumb(aria-label='breadcrumbs')
                            ul
                                li
                                    a(href='/#cat.' + help.cat.id) #{help.cat.title}
                                li
                                    a(href='/forum/' + post.forumId) #{help.for}
                    nav.level.has-background-danger.is-rounded-top
                        .level-left
                            .level-item.is-colored
                                span.icon.is-medium.has-text-warning.ml-2
                                    i.far.fa-lg.fa-folder-open
                                p.has-text-weight-bold.is-size-5.has-text-white.my-3.mx-3 #{post.title}
                    hr.is-dark.is-marginless.with-level
                    .columns
                        .column.is-2.pr-0
                            .box.post-profile
                                figure.image.is-64x64.is-centered
                                    img.is-rounded(src="/img/" + post.author.icon)
                                a.is-size-5.has-text-centered(href='/profile/' + post.author.id) #{post.author.name}
                        .column.pl-0
                            .box.post
                                p #{post.content}