section.hero.is-dark
    .hero-body.is-paddingless.is-marginless
        .container
            br
            h1.title #{data.siteName}
    .hero-foot
        .section.is-paddingless.is-marginless
            .container
                nav.navbar.is-transparent
                    .navbar-brand
                        .navbar-burger.burger(data-target="menu")
                            span
                            span
                            span
                    .navbar-menu(id="menu")
                        .navbar-start
                            .navbar-item
                                .field.is-grouped
                                    p.control
                                        a.button.is-black(href="/")
                                            span.icon.has-text-primary
                                                i.fas.fa-home
                                            span #{data.lang.getLang('menu.index')}
                        .navbar-end
                            if session.name == null
                                .navbar-item
                                    .field.has-addons
                                        p.control
                                            a.button.is-black(href="/login")
                                                span.icon.has-text-primary
                                                    i.fas.fa-sign-in-alt
                                                span #{data.lang.getLang('menu.login')}
                                        p.control
                                            a.button.is-black(href="/register")
                                                span.icon.has-text-primary
                                                    i.fas.fa-user
                                                span #{data.lang.getLang('menu.register')}
                            else
                                - var rank = data.utils.getRank(session.rank)

                                if rank.permissions.includes(data.permissions.ADMIN_PANEL)
                                    .navbar-item
                                        .field.is-grouped
                                            p.control
                                                a.button.is-black(href="/")
                                                    span.icon.has-text-primary
                                                        i.fas.fa-pastafarianism
                                                    span Admin

                                .navbar-item.has-dropdown.is-hoverable
                                    a.navbar-link
                                        figure.image.is32x32.is-hidden-mobile.mr-2
                                            img.is-rounded(src="/img/" + session.icon)
                                        span.has-text-white #{session.name}
                                    .navbar-dropdown
                                        .navbar-item
                                            .field.is-grouped
                                                p.control
                                                    a.button.is-black(href="/profile") #{data.lang.getLang('menu.profile')}
                                        .navbar-item
                                            .field.is-grouped
                                                p.control
                                                    a.button.is-danger(href="/logout")
                                                        span.icon.has-text-black
                                                            i.fas.fa-sign-out-alt
                                                        span.has-text-black #{data.lang.getLang('menu.logout')}