extends ../layout

block content
    section.section
        .container
            .columns
                .column.is-3.has-text-centered
                    p Future Text :D
                .column.is-6
                    .box
                        .media-content
                            .content
                                if data.errorCode !== -1
                                    .notification.is-danger.has-text-black #{data.errorMsg}

                                form(action="" method="post" autocomplete='off')
                                    .field
                                        label.label #{data.lang.getLang('user.register.user')}
                                        .control.has-icons-left
                                            input.input(type="text" placeholder="kristine" name="username" id="username" required=)
                                            span.icon.is-small.is-left
                                                i.fas.fa-envelope
                                    .field
                                        label.label #{data.lang.getLang('user.register.email')}
                                        .control.has-icons-left
                                            input.input(type="email" placeholder="kristine@kristine.com" name="email" id="email" required=)
                                            span.icon.is-small.is-left
                                                i.fas.fa-envelope
                                    .field.is-horizontal
                                        .field-body
                                            .field
                                                label.label #{data.lang.getLang('user.register.password')}
                                                .control.has-icons-left
                                                    input.input(type="password" placeholder="********" name="password" required=)
                                                    span.icon.is-small.is-left
                                                        i.fas.fa-lock
                                            .field
                                                label.label #{data.lang.getLang('user.register.password2')}
                                                .control.has-icons-left
                                                    input.input(type="password" placeholder="********" name="password2" required=)
                                                    span.icon.is-small.is-left
                                                        i.fas.fa-lock
                                    .field.is-horizontal
                                        .field-body
                                            .field
                                                label.label Birth Date
                                                .control.has-icons-left
                                                    input.input(type="date" placeholder="Date" name="birth")
                                                    span.icon.is-small.is-left
                                                        i.fas.fa-calendar
                                    .field.is-grouped
                                        .control
                                            button.button.is-success #{data.lang.getLang('menu.register')}
                                        .control
                                            a.button.is-success.is-light #{data.lang.getLang('menu.login')}
                                    p.help
                                        | #{data.lang.getLang('user.register.tos.1')}
                                        strong  #{data.lang.getLang('menu.register')}
                                        |  #{data.lang.getLang('user.register.tos.2')}
                                        a  #{data.lang.getLang('user.register.tos.3')}
                                        | .

                .column.is-3.has-text-centered
                    p Future Text :D